<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class="inner"> 글 수정 페이지
    <form action="/modify" method="post" class="board_form">
      <div class="title">
        <label>title</label>
        <input type="text" name="title" class="title_text" value="<% BoardData.title %>"> </input>
      </div>
      <div class="content">
        <label>content</label>
        <input type="textarea" name="content" class="content_text" value="<%= BoardData.content %>"> </input>
      </div>
      <button type="submit" class="submit-btn">글 수정하기</button>


    </form>
  </div>
</body>

</html>